backcall==0.2.0
cssselect==1.1.0
decorator==4.4.2
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.1
lxml==4.5.1
parsel==1.6.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
selenium==3.141.0
six==1.15.0
traitlets==4.3.3
urllib3==1.25.9
w3lib==1.22.0
wcwidth==0.2.4
